//content
$wid:1192px;
$fonts:12px;
$corlors:red;
#main1{
    height: 150px;
    width: $wid;
    margin: 0 auto;
    
    #main1_top{
        
        #main1_top_top{
            display: flex;
            margin-top: 25px;
            position: relative;
            #main1_top_left{
                   margin-left: 320px;
                #search{
                    background: #fff;
                    width: 548px;
                    height: 36px;
                    
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #seach_text{
                        width: 455px;height: 36px;
                        border: none;
                        text-indent: 6px;
                    }
                    #seach_text::-webkit-input-placeholder {
color:#989898; 
} 
#seach_text:-moz-placeholder { 
color: #989898; 
} 
#seach_text::-moz-placeholder {
color: #989898; 
} 
#seach_text:-ms-input-placeholder { 
color: #989898; 
} 
                    span{
                        width: 44px;height: 36px;
                        line-height: 36px;
                        font-family: 'iconfont';
                        font-size: 24px;
                        text-align: center;
                        cursor: pointer;
                    }
                    span:hover{
                        color: red;
                    }
                    #search_btn{
                        width: 52px;height: 36px;
                        background: red;
                        outline: none;
                        border:none;
                        cursor: pointer;
                        font-family: 'iconfont';
                        font-size: 26px;
                        color: #fff;
                    }
                }
                #seach_list{
                    font-size: $fonts;
                    
                    ul{
                        display: flex;
                        li{
                            margin: 6px;
                            a{
                                color:#999999;
                            }
                            &:nth-of-type(1) a{
                                color: $corlors;
                            }
                            a:hover{
                                color: $corlors;
                            }
                        }
                    }
                }
                
            }
            #main1_top_center{
                width: 188px;
                height: 36px;
                border:1px solid #ddd;
                background: #fff;
                margin-left: 30px;
                font-size: $fonts;
                color: red; 
                text-align: center;
                position: relative;     
                span{
                    line-height: 36px;
                    font-size: 18px;
                   margin-right: 10px;
                    font-family: 'iconfont';
                }
                a:hover{
                    color:$corlors ;
                }
                p{
                    
                    position: absolute;top:4px;right:20px;
                    width: 18px;height: 18px;border-radius: 50%;background: red;font-size: $fonts;
                    color: #fff;text-align: center;line-height: 18px;
                }
            }
            #main1_top_right{
                
                position: absolute;right: 10px;top: -24px;
                img{
                    width: 66px;height: 66px;
                }
            }
        }
        #header_nav{
            
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ddd;
                margin-top: 18px;
                li{
                    margin: 0 12px;
                    a:hover{
                        color: $corlors;
                    }
                }
                }
        }
        
    }
    #main1_banner{
        height: 480px;
        width: $wid;
        margin: 0 auto;
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        aside{
            width: 190px;
            height: 480px;
            background: #fff;
           position: relative;z-index: 2;
            ul{ 
               
                li{ 
                    padding-left: 16px;
                    height: 28px;
                    line-height: 28px;
                    font-size: $fonts;
                   &:hover{
                    background: #ddd;
                   
                   }
                    .main1_banner_wrap1{
                        display: none;
                       position: absolute;
                       width: 1001px;
                       height: 480px;
                       font-size: $fonts;
                       top: 0;left:190px ;background:#fff;
                       border: 1px solid #ddd;
                       ul,ol{
                           display: flex;
                           flex-wrap: wrap;
                       }
                       ol{
                           margin:10px;
                           li{margin: 0 8px;
                           height: 23px;
                           padding: 0 9px;
                           line-height: 23px;text-align: center;
                           background: #333;
                           
                           a{
                               color: #fff;
                               
                           }
                           
                           }
                          
                       }
                     .main1_ul_list{
                         
                               display: flex;
                               h5{
                                   width: 90px;
                                   text-align: right;
                                   margin-right: 10px;
                               }
                               ul{
                                   width: 680px;
                                   
                                   li{
                                      margin-right:10px; 
                                      
                                      &:hover{
                    background: #fff;
                    } 
                                   }
                               }
                           }
                      
                     
                }
                a:hover{
                    color: $corlors;
                  }
                }
                
            }
        }
        #main1_scrollbanner{
            width: 590px;
            height: 470px;
            padding-top: 10px;
            position: relative; 
            overflow: hidden;
            #main1_scrollbanner_warp{
            display: flex;
            
            position: absolute;
            }
        }
        #main1_picbanner{
            width: 190px;
           
            img{
                margin-bottom: 15px;
            }
        }
        #main1_login{
            font-size: $fonts;
            width: 190px;
            background:#fff;
            #main1_login_top{
                text-align: center;
                #loginimg{
                    width: 56px;height: 56px;border-radius: 50%;
                    position: relative;margin: 0 auto;top: -5px;
                    box-shadow: 2px 2px 5px 5px #ddd;
                    img{
                        width: 56px;height: 56px;border-radius: 50%;
                    }
                }
                p{
                    margin: 4px 0;
                    display: flex;justify-content: center;
                }
                
                p a{
                    margin:6px 6px ;
                    width: 60px;height: 24px;border-radius: 15px;display: block;border: 1px solid #ddd;text-align: center;
                    line-height: 24px;
                    &:nth-of-type(1){
                        color: red;
                    }
                    &:hover{
                        color: #fff;
                        background: $corlors;
                    }
                    &:nth-of-type(2){
                        color:#c4b87e;
                        background: #363634;
                    }
                    &:hover{
                        color: #fff;
                        background: $corlors;
                    }
                }
                a{
                    margin: 0 2px;
                }
                a:hover{
                    color: $corlors;
                }
            }
           #main1_login_center{
               width: 148px;
               margin: 0 auto;
               border-top: 1px solid #cecece;
               height: 120px;
               border-bottom: 1px solid #cecece;
               p{
                   margin-top: 6px;
                   a{
                       margin:0 4px ;
                       &:hover{
                           color: $corlors;
                       }
                   &:nth-of-type(3){
                       margin-left: 40px;
                   }
                   
                   
               }
              }
               ul{
                   width: 148px;
                   margin-top: 8px;
                   li{
                       margin: 4px 0;
                       a{
                           width: 148px;
                           
                       }
                   }
               }
             
               #login_hide{
                   display: none;
               }
           }
        }
    }
}
