//content
$wid:1192px;
$fonts:12px;
$corlors:red;
//main1
#main1{
   
    width: $wid;
    margin: 0 auto;
    
    #main1_top{
        
        #main1_top_top{
            display: flex;
            margin-top: 25px;
            position: relative;
            #main1_top_left{
                   margin-left: 320px;
                   //搜索
                #search{
                    background: #fff;
                    width: 548px;
                    height: 36px;
                    
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #seach_text{
                        width: 455px;height: 36px;
                        border: none;
                        text-indent: 6px;
                    }
                    #seach_text::-webkit-input-placeholder {
color:#989898; 
} 
#seach_text:-moz-placeholder { 
color: #989898; 
} 
#seach_text::-moz-placeholder {
color: #989898; 
} 
#seach_text:-ms-input-placeholder { 
color: #989898; 
} 
                    span{
                        width: 44px;height: 36px;
                        line-height: 36px;
                        font-family: 'iconfont';
                        font-size: 24px;
                        text-align: center;
                        cursor: pointer;
                    }
                    span:hover{
                        color: red;
                    }
                    #search_btn{
                        width: 52px;height: 36px;
                        background: #f10215;
                        outline: none;
                        border:none;
                        cursor: pointer;
                        font-family: 'iconfont';
                        font-size: 26px;
                        color: #fff;
                    }
                }
                #seach_list{
                    font-size: $fonts;
                    
                    ul{
                        display: flex;
                        li{
                            margin: 6px;
                            a{
                                color:#999999;
                            }
                            &:nth-of-type(1) a{
                                color: $corlors;
                            }
                            a:hover{
                                color: $corlors;
                            }
                        }
                    }
                }
                
            }
            a:hover{
                opacity: .8;
            }
            a{
                width: 188px;
                height: 36px;
            }
            #main1_top_center{
                width: 188px;
                height: 36px;
                border:1px solid #ddd;
                background: #fff;
                margin-left: 30px;
                font-size: $fonts;
                color: red; 
                text-align: center;
                position: relative;     
                span{
                    line-height: 36px;
                    font-size: 18px;
                   margin-right: 10px;
                    font-family: 'iconfont';
                }
                p{
                    
                    position: absolute;top:4px;right:20px;
                    width: 18px;height: 18px;border-radius: 50%;background: red;font-size: $fonts;
                    color: #fff;text-align: center;line-height: 18px;
                }
            }
            #main1_top_right{
                
                position: absolute;right: 10px;top: -24px;
                img{
                    width: 66px;height: 66px;
                }
            }
        }
        #header_nav{
            
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ddd;
                margin-top: 18px;
                li{
                    margin: 0 12px;
                    a:hover{
                        color: $corlors;
                    }
                }
                }
        }
        
    }
    #main1_banner{
        height: 480px;
        width: $wid;
        margin: 0 auto;
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        
        //侧边栏
        aside{
            width: 190px;
            height: 480px;
            background: #fff;
           position: relative;z-index: 2;
           
           //引入
           a{
                text-decoration: none;
                
            }
            .lists {
                font-size: 12px;
                position: relative;
               
                width: 190px;
                box-sizing: border-box;
               padding: 2px 0;
                
                list-style: none;
                
            }
            
            .list {
                width:176px;
                line-height: 28px;
               
                font-size: 14px;
                padding-left: 14px;
            }
            
            .list .menu:hover {
                color: #c81623;
            }
            
            .list .fgx {
                margin: 0 4px;
            }
            
            .list:hover {
                
                background: #f3f3f3;
            }
            
            .list:hover .box {
                display: block;
            }
            
            .list .box {
                display: none;
                width: 1000px;
                box-sizing: border-box;
                position: absolute;
                top: 0;
                right: -1000px;
                background: #fff;
                padding: 20px 0 10px 20px;
            }
            
            .box p:nth-child(n+2) {
                padding: 6px 0;
            }
            
            .box p:nth-child(n+2) span {
                display: inline-block;
                margin: 4px 0;
            }
            
            .box .tips {
                display: inline-block;
                background: #999395;
                font-size: 12px;
                height: 24px;
                line-height: 24px;
                margin-right: 10px;
                padding: 0 10px;
            }
            
            .box span:hover {
                color: red
            }
            
            .box .tips:hover {
                background: #5c5251;
                color: #fff;
            }
            
            .box a {
                display: inline-block;
                margin-left: 5px;
                font-size: 12px;
            }
            
            .box .title {
                vertical-align: top;
                display: inline-block;
                width: 70px;
                text-align: right;
                font-size: 12px;
                line-height: 16px;
                color: #666;
                font-weight: bold;
            }
            
            .title a {
                text-align: right;
            }
            
            .tags {
                vertical-align: top;
                display: inline-block;
                color: #666;
                font-size: 12px;
                width: 700px;
                line-height: 16px;
                margin-left: 15px;
            }
            
            .tag1 {
                padding: 0 10px;
                border-left: 1px solid #e0e0e0;
                font-weight: 700;
                color: #c81623;
                height: 14px;
                line-height: 14px;
                border: 1px dotted #db7078;
            }
            .tips{
                color: #fff;
            }
            
            .tag {
                color: #000;
                padding: 0 10px;
                border-left: 1px solid #e0e0e0;
            }
            
            .imgBox {
                box-sizing: border-box;
                width: 198px;
                height: 424px;
                position: absolute;
                top: 20px;
                right: 0;
                padding: 0 14px 0 15px;
                img{
                    margin-top: 10px;
                    float: left;
                }
            }
            
            .sImg {
                display: inline-block;
                float: left;
                width: 83px;
                height: 35px;
                margin-right: 1px;
                margin-top: 1px;
            }
            
            .bImg {
                width: 168px;
                height: 134px;
                margin-top: 1px;
                display: block;
                float: left;
                
            }
            
            .imgBox img:nth-of-type(9) {
                margin-top: 10px;
            }
            
            

        }
        //轮播
        #main1_scrollbanner{
            width: 590px;
            height: 470px;
            padding-top: 10px;
            position: relative; 
            overflow: hidden;
            #main1_scrollbanner_warp{
            display: flex;
            
            position: absolute;
            }
            .btn{font-size: 40px;background: #f1f1f1;color: #fff;position: absolute;width: 40px;height: 40px;text-align: center;line-height: 40px;top: 50%;cursor: pointer;opacity: .5;display: none;}
            .pre{left: 10px;}
            .next{right: 10px;}

            .main1_scrollbanner_nav {
                position: absolute;
                right: 20px;
                bottom: 20px;
            }
            .main1_scrollbanner_nav ul li {
                width: 10px;
                height: 10px;
                border-radius:50% ;
                border: 1px solid #fff;
                float: left;
                margin-left: 5px;
            }
            .main1_scrollbanner_nav ul li.select{
                background: #fff;
            }

        }
        #main1_picbanner{
            width: 190px;
           
            img{
                margin-bottom: 15px;
            }
        }
        //登录栏
        #main1_login{
            font-size: $fonts;
            width: 190px;
            background:#fff;
            #main1_login_top{
                text-align: center;
                #loginimg{
                    width: 56px;height: 56px;border-radius: 50%;
                    position: relative;
                    margin: 0 auto;
                    box-shadow: 2px 2px 5px 5px #ddd;
                    margin-bottom: 8px;
                    a{
                        position: absolute;left: -2px;top: 0px;
                    }
                    img{
                        width: 56px;height: 56px;border-radius: 50%;
                    }
                }
                p{
                    margin: 4px 0;
                    display: flex;justify-content: center;
                }
                
                p a{
                    margin:6px 6px ;
                    width: 60px;height: 24px;border-radius: 15px;display: block;border: 1px solid #ddd;text-align: center;
                    padding: 0 4px;
                    line-height: 24px;
                    &:nth-of-type(1){
                        color: red;
                    }
                    &:hover{
                        color: #fff;
                        background: $corlors;
                    }
                    &:nth-of-type(2){
                        color:#c4b87e;
                        background: #363634;
                    }
                    &:hover{
                        color: #fff;
                        background: $corlors;
                    }
                }
                a{
                    margin: 0 2px;
                }
                a:hover{
                    color: $corlors;
                }
            }
           #main1_login_center{
               width: 148px;
               margin: 0 auto;
               border-top: 1px solid #f1f1f1;
               height: 120px;
               border-bottom: 1px solid #f1f1f1;
               p{
                   margin-top: 6px;
                   a{
                       margin:0 4px ;
                       &:hover{
                           color: $corlors;
                       }
                   &:nth-of-type(3){
                       margin-left: 40px;
                   }
                   &:nth-of-type(1){
                       border-bottom: 2px solid red;
                   }
                   
                   
               }
              }
               ul{
                   width: 148px;
                   margin-top: 8px;
                   li{
                       margin: 4px 0;
                       a{
                           width: 148px;
                           
                       }
                   }
               }
             
               #login_hide{
                   display: none;
               }
           }
           #main1_login_bottom{
               
               width: 190px;height: 190px;
               margin-top: 10px;
               ul{
                   display: flex;
                   flex-wrap: wrap;
                   margin: 0px 0px 15px 15px;
                   li{
                       width: 36px;
                       padding:9px 3px;
                       a{
                           display: flex;
                           flex-direction: column;
                           justify-content: center;
                           align-items: center;
                           span{
                               font-family:'iconfont';
                               font-size: 20px;
                               color: #bea68d;
                               margin-bottom: 4px;
                           }
                       }
                       a:hover span{
                           color: $corlors;
                       }
                       a:hover{
                           color: $corlors;
                       }
                   }
               }
           }
        }
    }
    #main1_center1{
        width: $wid;
        height: 275px;
        background:#fff;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        #main1_center1_left{
            width: 190px;
            height: 275px;
            background:#e83632;
            text-align: center;
            overflow: hidden;
            h2{
                margin-top: 52px;
                font-size: 34px;
                color: #fff;
            }
            p{
                font-size: 18px;
                color: #f3947e;
                margin: 2px 0;
               
            } 
            #seckillimg{
                width: 22px;
                height: 33px;
                background: url(../imgs/sprite.seckill.png) -35px -25px;
                margin: 12px auto;
            }
            #timer_tit{
                    color: #fff;
                    font-size: 18px;
                }
                #seckill_box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    #seckill_box_x{
                        position: absolute;
                        display: block;
                        top: 50%;width: 140px;
                        margin: 0 auto;
                        border-bottom: 1px solid #d54851;
                    }
                    div{
                        width: 40px;
                        height: 40px;
                        background: #2f3430;
                        margin: 15px 5px;
                        text-align: center;
                        color: #fff;
                        line-height: 40px;
                        font-weight: 800;
                        font-size: 20px;
                    }
                }
        }
        #main1_center1_center{
            width: 800px;
            height: 275px;
            margin-left: -10px;
            #main1_center1_center_banner{
                width: 800px;
                height: 275px;
                display: flex;
                justify-content: center;
                font-size: $fonts;
                a{
                    
                    border-right: 1px solid #f0f0f0;
                    margin: 0 8px;
                    width: 200px;
                    dl{
                        margin-top:15px;
                        display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    }
                    dl:hover{
                        color: $corlors;
                        opacity: .8;
                    }
                    dt{
                        width: 154px;
                        height: 154px;
                        background: url(../imgs/scroll_center4.jpg) left top no-repeat ;
                        margin-top: 20px;
                        
                        }
                        &:nth-of-type(2) dt{
                            background: url(../imgs/scroll-center1.png) left top no-repeat ;
                    }
                    &:nth-of-type(3) dt{
                            background: url(../imgs/scroll_center3.png) left top no-repeat ;
                    }
                    &:nth-of-type(4) dt{
                            background: url(../imgs/scroll_center2.jpg) left top no-repeat ;
                    }
                    dd{
                        margin: 8px 0;
                        &:nth-of-type(2){
                            width: 142px;
                            height: 22px;
                            background: #e6382f;
                            color: #fff;
                            line-height: 22px;
                            text-align: center;
                            display: flex;
                           padding-left:20px ;
                            justify-content:space-between;
                            align-items: center;
                            span{
                                display: block;
                                padding: 0 10px;
                                height: 20px;
                                background: #fff;
                                color: #b7bcb8;
                                text-decoration: line-through;
                                margin-right:2px;
                            }
                        }
                    }
                }
            }
           
        }
        #main1_center1_right{
            width: 180px;
            height: 260px;
            background: #f0f0f0;
            margin-right: 10px;
            ul{
                position: relative;
                li{
                    position: absolute;
                }
            }
            
        }
    }
    #main1_center2,#main1_bottom{
         width: $wid;
        height: 450px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        .main1_center2_box1{
            font-size: $fonts;
            width: 390px;
            height: 450px;
            a:hover{
                    color: $corlors;
                }
            #main1_center2_box1_top{
                display: flex;
                height: 60px;
                background: #fff;
                align-items: center;
                padding: 0 20px;
                
                h2{
                    font-size: 20px;
                    font-weight:500;
                    a:hover{
                        color: #222222;
                    }
                }
                span{
                    display: block;
                    width: 23px;
                    height: 23px;
                    margin: 0 5px;
                    border: 1px solid #e53f3f;
                    border-radius: 50%;
                    font-size: 18px;text-align: center;line-height: 23px;
                    a{
                        color: #e53f3f;
                    }
                    
                }
                p{
                    font-size: 14px;
                    a{
                        color: #999999;
                    }
                }
            }
            ul{
                align-items: center;
                justify-content: space-around;
                display: flex;
                height: 30px;
                .red{
                    color: $corlors;
                }
            }
            .mcbb2{
                display: none;
            dl{
                &:nth-of-type(1) dt{
                        background: url(../imgs/pic7.jpg) no-repeat;
                    
                }
                &:nth-of-type(2) dt{
                        background: url(../imgs/pic9.jpg) no-repeat;
                    
                }
                &:nth-of-type(3) dt{
                        background: url(../imgs/pic13.jpg) no-repeat;
                    
                }
            } 
            }
            .mcbb1{
               
            dl{
                &:nth-of-type(1) dt{
                        background: url(../imgs/pic13.jpg) no-repeat;
                    
                }
                &:nth-of-type(2) dt{
                        background: url(../imgs/pic7.jpg) no-repeat;
                    
                }
                &:nth-of-type(3) dt{
                        background: url(../imgs/pic9.jpg) no-repeat;
                    
                }
            } 
            }
            .main1_center2_box1_bottom{
                height: 326px;
                background: #fff;
                
            dl{
                display: flex;
                margin-left: 42px;
                
                dt{
                    width: 80px;
                    height: 88px;
                    
                    margin-top: 15px;
                    }
                  
                dd{
                    width: 260px;
                    margin:15px 20px 0;
                    display: flex;
                    align-items: center;
                    h4{
                        font-size: 26px;
                        font-weight: 800;
                        margin-right: 12px;
                        a{
                            color: red;
                        }
                    }
                
                
                }
            }
          }
          #main1_center2_box1_bottom1{
              height: 32px;background: #fff;
              border-top: 1px solid #f1f1f1;
              display: flex;
              justify-content: center;
              align-items: center;
              span{
                  display: block;
                  width: 8px;
                  height: 8px;
                  border: 2px solid #ddd;
                  border-radius: 50%;
                  margin: 0 3px;
                  &:nth-of-type(1){
                      background: #eb3436;
                  }
              }
              span:hover{
                  background: #eb3436;
              }
          }
        }
        .mcb_1{
            background: #fff;
            .main1_center2_scroll{
                height: 390px;
                overflow: hidden; 
                position: relative;
                ul{
                    position: absolute;
                    height: 390px;
                    display: flex;
                   
                   li{
                       height: 390px;
                       width: 390px;
                       display: flex;
                       flex-direction: column;
                       
                       align-items: center;
                       .mcs{
                           display: flex;
                           justify-content:space-between;
                           
                       }
                       a:hover{
                           color: #000;
                       }
                       h3{
                               font-size: 16px;
                               font-weight: 800;
                               margin: 10px 0;
                           }
                       p{padding: 10px 30px;}
                   } 
                }
           .btn1,.btn2{font-size: 20px;background: #ddd;color: #fff;position: absolute;width: 20px;height: 20px;text-align: center;line-height: 20px;top: 50%;cursor: pointer;display: none;}
            .pre1,.pre2{left: 10px;}
            .next1,.next2{right: 10px;}


            .main1_center2_scroll_nav,.main1_center2_scroll_nav1{
                position: absolute;
                right: 20px;
                bottom: 20px;
                 dl li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid #f1f1f1;
                float: left;
                margin-left: 5px;
            }
             dl li.select{
                background: red;
            }
            }
            

            }
            
            
            .main1_center2_right{
                height: 390px;
                a:hover{
                    color: #000;
                }
                ul{
                    height: 355px;
                    display: flex;
                    flex-direction: column;
                   
                    li{
                        width: 350px;
                         background: #eeefed;
                        height: 110px;
                        border-radius: 20px;
                        display: flex;
                        justify-content: space-around;
                        
                    }
                    
                }
                .mcr2{
                        display: none;
                    }
                    .mcr1,.mcr2{
                         
                    .mcr_left1,.mcr_left6{
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        background:url(../imgs/pic12.jpg);
                        margin: 20px 0 0 20px;
                    }
                    .mcr_left2,.mcr_left4{
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        background:url(../imgs/a.jpg);
                        margin: 20px 0 0 20px;
                    }
                    .mcr_left3,.mcr_left5{
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        background:url(../imgs/b.jpg);
                        margin: 20px 0 0 20px;
                    }
                    .mcr_center{
                        display: flex;
                        justify-content: center;
                      margin-left: 10px;
                        flex-direction: column;
                        h2{
                            color: $corlors;
                            font-size: 24px;
                            span{
                                color:#000;
                                font-size: 12px;
                            }
                        }
                        strong{
                            color: #b1b3b0;
                        }
                        p{
                        margin: 10px 0  0;
                        }
                    }
                    .mcr_right{
                        width: 15px;
                        margin-top: 6px;
                    }
                    .mcr_right:hover{
                        color: $corlors;
                    }
                    }
                    
                #main1_center2_box1_bottom1{
              height: 32px;background: #fff;
              border-top: 1px solid #f1f1f1;
              display: flex;
              justify-content: center;
              align-items: center;
              span{
                  display: block;
                  width: 8px;
                  height: 8px;
                  border: 2px solid #ddd;
                  border-radius: 50%;
                  margin: 0 3px;
                  &:nth-of-type(1){
                      background: #eb3436;
                  }
              }
              span:hover{
                  background: #eb3436;
              }
          }
            }
            
        }
    }
     #main1_bottom{
         width: $wid;
        height: 450px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        .main1_center2_box1{
            width: 390px;
            height: 450px;
            background: #fff;
            .mcss2{
                position: relative;
            }
            .main1_center2_scroll_box1{
                position: absolute;
            }
            
            }
            .main1_center_pic{
                
                    display: flex;
                    
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;margin-top: 30px;
                dl{
                    width: 165px;
                    height: 165px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    dd{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        h4{
                            font-size: 14px;
                            color: #3e8c96;
                           
                        }
                    }
                    &:hover{
                        color: $corlors;
                        opacity: .8;
                        h4{
                            color:red ;
                        }
                    }
                    
                }
        }
        .main1_right_pic1{
            height: 300px;
            margin-left: 20px;
           img:hover{
               opacity: .8;
           }
        }
    }
}
#main2,#main3,#main4{
    width: $wid;
    height: 1500px;
    margin: 0 auto;
    text-align: center;
    h3{
        margin:30px  0 0;
        font-size: 24px;
    }
    .main2_top{
        margin-top:24px;
        height: 450px;
        display: flex;justify-content:space-around;
        .main2_box1{
            height: 450px;
            width: 390px;
            
            background:#fff;
            .main2_box1_a{
                width: 390px;
                height: 390px;
                display: flex;
                flex-wrap: wrap;
                justify-content:center;
                
                a:nth-of-type(2){
                        margin-right: 10px;
                    }
                img{
                    height: 175px;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            .main2_box1_b{
                  background: #f0f3ef;
                 height: 450px;
                  width: 390px;
                  position: relative;
                  overflow: hidden;
                  img{
                      position: absolute;
                      &:nth-of-type(2){
                          top: 220px;
                      }
                  }
                 
                  &:hover{
                          opacity: .8;
                      }
                  .main2_box1_b1{
                      width: 340px;
                      height: 420px;
                      border: 5px solid #000;
                      margin-left: 40px;
                      margin-top: 20px;
                      
                  }
            }
            .main1_right_pic1{
            height: 300px;
            margin-left: 20px;
           img:hover{
               opacity: .8;
           }
        }
          ul{
              display: flex;
              margin-left: 10px;
              margin-top: -30px;
              li{
                  margin: 0 5px;
              }
          }  
            ol{
                display: flex;flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                
                li a{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                   width: 190px;
                   height: 215px;
                   font-size: $fonts;
                   span{
                       color: $corlors;
                   } 
                   &:hover{
                       color: $corlors;
                       opacity: .8;
                   }
                }
            }
            
            
            
            
            
            
            
            
            
        }
          .main1_center2_box1_top{
                display: flex;
                height: 60px;
                background: #fff;
                align-items: center;
                padding: 0 20px;
                
                h2{
                    margin-top: 0px;
                    font-size: 20px;
                    font-weight:500;
                    a:hover{
                        color: #222222;
                    }
                }
                span{
                    display: block;
                    width: 23px;
                    height: 23px;
                    margin: 0 5px;
                    border: 1px solid #e53f3f;
                    border-radius: 50%;
                    font-size: 18px;text-align: center;line-height: 23px;
                    a{
                        color: #e53f3f;
                    }
                    
                }
                p{
                    font-size: 14px;
                    a{
                        color: #999999;
                    }
                }
            }
        
        
    }
}
#main5{
     width: $wid;
    margin: 0 auto;
    text-align: center;
    h3{
        margin:30px  0 0;
        font-size: 24px;
    }
    .main5_scroll{
        position: relative;
        margin-top: 25px;
        height: 300px;background: #fff; 
        overflow: hidden;
         .main1_scrollbanner_nav3{
                position: absolute;
                right: 50%;
                bottom: 20px;
                 ol li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid #ddd;
                float: left;
                margin-left: 5px;
            }
             ol li.select{
                background: #ddd;
            }
            }
        
        
        .main_scroll_wrap{
            display: flex;
            position: absolute;
        }
       
        
        ul{
            width:$wid;
            display: flex;justify-content:center;
          
           
        }
        ul li{
            margin: 0 20px;
            width: 388px;height: 300px;
           
            
            &:hover{
                opacity: .8;
            }
        }
        .main1_center2_box1_top{
            position: absolute;
                display: flex;
                height: 60px;
                background: #fff;
                align-items: center;
                padding: 0 20px;
                
                h2{
                    margin-top: 0px;
                    font-size: 20px;
                    font-weight:500;
                    a:hover{
                        color: #222222;
                    }
                }
                span{
                    display: block;
                    width: 23px;
                    height: 23px;
                    margin: 0 5px;
                    border: 1px solid #e53f3f;
                    border-radius: 50%;
                    font-size: 18px;text-align: center;line-height: 23px;
                    a{
                        color: #e53f3f;
                    }
                    
                }
                p{
                    font-size: 14px;
                    a{
                        color: #999999;
                    }
                }
        }    
            
    }
}




#main6{
     width: $wid;
    margin: 0 auto;
    text-align: center;
    h3{
        margin:30px  0 0;
        font-size: 24px;
    }
    #main6_content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 25px;
        .main6_content_box{
            margin-top: 15px;
            width: 230px;
            height: 302px;
            background: #fff;
            &:hover{
                opacity: .8;
                color: $corlors;
            }
            dl{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: $fonts;
                dd{padding: 0 15px;
                margin-top: 15px;
                p{
                     margin-bottom: 10px;
                }
                span{
                    color: $corlors;
                   font-size: 14px;
                }
                }
            }
        }
    }
    
}


//头部显示
.top_xian{
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 40px;
    border-bottom: 3px solid  #f10214;
    background: #fff;
      #search1{
                    background: #fff;
                    width: 548px;
                    height: 36px;
                    margin:0 auto;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #seach_text1{
                        background: #efefef;
                        width: 455px;height: 36px;
                        border: none;
                        text-indent: 6px;
                    }
                    #seach_text1::-webkit-input-placeholder {
color:#989898; 
} 
#seach_text:-moz-placeholder { 
color: #989898; 
} 
#seach_text::-moz-placeholder {
color: #989898; 
} 
#seach_text:-ms-input-placeholder { 
color: #989898; 
} 
                    span{
                        width: 44px;height: 36px;
                        line-height: 36px;
                        font-family: 'iconfont';
                        font-size: 24px;
                        text-align: center;
                        cursor: pointer;
                        background: #efefef;
                    }
                    span:hover{
                        color: red;
                    }
                    #search_btn1{
                        width: 52px;height: 36px;
                        background: #f10215;
                        outline: none;
                        border:none;
                        cursor: pointer;
                        font-family: 'iconfont';
                        font-size: 26px;
                        color: #fff;
                    }
                }
    
    .logo1{
        width: 125px;
        height: 40px;
        background: url(../imgs/sprite.head.png) -196px 0px;
        position: absolute;left: 130px;
    }
    
    
}